@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body{
    font-family: Poppins;
    margin: 0;
    font-size: 13px;
    --color: #eee;
    color: var(--color);
    background-color: #23282E;
    text-decoration: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}
::-webkit-scrollbar{
    width: 0;
}
header{
    width: 100%;
    position: fixed;
    z-index: 100;
    text-align: center;
    padding-top: 30px;
}
header nav a{
    margin: 0 30px;
    color: var(--color);
    font-size: small;
    text-decoration: none;
}

.nav-toggle {
    display: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: var(--color);
    margin: 5px 0;
    transition: all 0.3s ease;
  }
  
  .nav-menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-menu li {
    margin: 0 15px;
  }
  
  .nav-menu li a {
    color: var(--color);
    text-decoration: none;
  }

  

.tab{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url(images/bg.png);
    background-size: 50%;
}
.tab .container{
    width: 1140px;
    max-width: 100%;
    height: 100%;
    padding-top: 50px;
    box-sizing: border-box;
    margin: auto;
    position: relative;
}



#intro{
    background-color: #16222D;
}
#intro .avatar{
    text-align: right;
    height: 100%;
}
#intro .avatar img{
    height: 100%;
}
#intro .content{
    position: absolute;
    top: 52%;
    left: 70px;
    transform: translateY(-50%);
    width: 500px;
    max-width: 80%;
}
#intro .content .name,
#intro .content .job{
    font-size: 6em;
    font-weight: bold;
    font-family: 'Righteous';
    line-height: 1em;
}
.text-gradient{
    background-image: linear-gradient(
        to right, #E4454A, #CA3EA7
    );
    display: inline-block;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
#intro .content .des{
    margin-top: 1.2em;
    width: 100%;
}
#intro .content .des a{
    margin-top: 1.2em;
}
#intro .content i{
    font-size: 10em;
    position: absolute;
    top: -50px;
    right: -50px;
    color: #293b4c;
}




#experience{
    background-image: linear-gradient(
        45deg, #212632, #171514, #3c4c5a
    );
    background-size: cover;
}

#experience .list{
    height: 100%;
    width: max-content;
    display: flex;
    justify-content: left;
    padding-left: 50px;
    box-sizing: border-box;
    gap: 20px;
    position: relative;
    z-index: 1;
}

#experience .list .item{
    width: 200px;
    flex-shrink: 0;
    display: grid;
    grid-template-rows: 1fr 50px 1fr;
    gap: 20px;
}

#experience .list .item i{
    background-color: #444B57;
    width: 50px;
    font-size: 2rem;
    color: #16222D;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#experience .list .item .time{
    font-size: large;
    display: flex;
    align-items: end;
}

#experience .list .item .content .job{
    font-size: large;
}

#experience .list .content .company{
    color: #E4454A;
}

#experience .list .item .content .des{
    font-size: 0.8em;
    opacity: 0.8;
}

#experience .list .item:nth-child(odd) .content{
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#experience .list .item:nth-child(odd) .time{
    grid-row-start: 3;
    grid-row-end: 4;
    align-items: start;
}

#experience .list::before{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #444B57;
    content: '';
    z-index: -1;
}

#experience .container{
    overflow: auto;
    padding: 50px;
}



#skill{
    background-image: linear-gradient(
        45deg, #3A2530, #171514, #412726
    );
    background-size: cover;
}

#skill .list{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
    box-sizing: border-box;
    gap: 0;
}

#skill .list .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#skill .list .item:nth-child(odd){
    background-color: #3F2525;
}

#skill .list .item i{
    width: 50px;
    height: 50px;
    background-color: #eee;
    color: #CA3EA7;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#skill .list .item .name{
    font-size: 1.5em;
    margin-top: 0.7em;
}

#skill .list .des{
    font-size: small;
    opacity: 0.8;
}

#skill .container{
    overflow: auto;
}



#project{
    background-image: linear-gradient(
        45deg, #2c2032, #171514, #632863
    );
    background-size: cover;
    color: #444B57;
}
#project .list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px;
}
#project .list .item img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
#project .list .item{
    border-radius: 30px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
}
#project .list .item .index{
    background-color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    transform: translateY(-100%);
    padding: 10px;
    font-style: italic;
    border-top-right-radius: 20px;
}
#project .list .item .name{
    font-weight: bold;
    font-size: large;
    padding: 10px;
}
#project .list .item .des{
    padding: 0 10px 10px 10px;
}
#project .list .item .author{
    padding: 10px;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}
#project .list .item .job{
    font-weight: bold;
}
#project .container{
    overflow: auto;
}

.sa{
    color: #171514;
}



#contact{
    background-image: linear-gradient(
        45deg, #20322d, #171514, #286356
    );
    background-size: cover;
    color: #445753;
}

.ccontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    max-width: 500px;
    margin: 8rem auto;
    background: rgb(59, 84, 86);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: flex;
    margin-bottom: 5px;
    color: #fff;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.form-group .error {
    color: red;
    font-size: 12px;
    display: none;
}

button {
    padding: 10px 20px;
    background: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

.success {
    color: green;
    font-size: 16px;
    display: none;
    margin-top: 20px;
}









#thanks{
    background-image: linear-gradient(
        45deg, #2b3c46, #171514, #12313f
    );
    background-size: cover;
}
#thanks .content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
#thanks .thank{
    font-size: 5em;
    font-weight: bold;
    display: block;
}
#thanks .des{
    width: 500px;
    max-width: 80%;
    text-align: center;
}
#thanks .list{
    text-align: center;
}
#thanks .list .item{
    display: inline-block;
    margin: 10px 30px;
}

#thanks .itemlink{
    color: #fff;
}

#thanks .itemlink:hover{
    color: red;
}







@media screen and (max-width: 991px){
    #intro .avatar img{
        transform: translateX(170px);
    }

}
@media screen and (max-width: 767px){
    body{
        font-size: 10px;
    }
    .nav-toggle {
        display: none;
    }
    header nav a{
        margin: 10px;
    }
    #intro .avatar img{
        transform: none;
    }
    #intro .content{
        left: 20px;
    }
    #intro .content .name{
        font-size: 4em;
    }
    #intro .content i{
        position: unset;
    }
    #skill .list{
        padding: 0px;
        grid-template-columns: repeat(2, 1fr);
    }
    #skill .list .item:nth-child(odd){
        background: unset;
    }
    #skill .list .item:nth-child(2),
    #skill .list .item:nth-child(3n){
        background: #3F2525;
    }
    #project .list{
        padding: 10px;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    #project .list .item img{
        height: 100px;
    }
    .ccontainer {
        padding: 15px;
        max-width: 400px;
    }

    form h2 {
        font-size: 20px;
    }
}
@media (max-width: 600px) {
    header nav a{
        margin: 8px;
    }
    .ccontainer {
        padding: 10px;
        max-width: 320px;
    }

    form h2 {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    header nav a{
        margin: 6px;
    }
}

@media (max-width: 475px) {
    header nav a{
        margin: 2px;
    }
}

@media (max-width: 445px) {
    .nav-toggle {
        display: block;
      }
    
      .nav-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #333;
        padding: 20px 0;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        z-index: 100;
      }
    
      .nav-menu.active {
        display: flex;
      }
    
      .nav-menu li {
        margin: 10px 0;
      }
    
      .nav-menu li a {
        color: #fff;
      }
    
      .nav-toggle.active .bar:nth-child(2) {
        opacity: 0;
      }
    
      .nav-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
    
      .nav-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    .ccontainer {
        padding: 10px;
        max-width: 280px;
    }

    form h2 {
        font-size: 13px;
    }
}

@media (max-width: 320px) {
    header nav a{
        margin: 3px;
    }
}